<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FinanceTracker-Dashboard</title>
  <link rel="stylesheet" href="/css/Dashboard.css" />
  <link rel="stylesheet" href="/css/table.css" />
</head>
<body>
  <div class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <div class="brand">
        <span><img class="icon" src="svg/piggy-bank-svgrepo-com.svg" alt="Icon" style="height: 40px; width: 40px;"/>FinanceTracker</span>
      </div>
      <nav class="nav">
        <button class="nav-item " onclick="window.location.href='Dashboard'">
          <img class="icon" src="svg/document-svgrepo-com.svg" alt="Icon" style="height: 30px; width: 30px;"/>
          Dashboard
        </button>
        <button class="nav-item" onclick="window.location.href='Transaction'">
          <img class="icon" src="svg/clipboard-add-svgrepo-com.svg" alt="Icon" style="height: 30px; width: 30px;"/>
          Add Transaction
      </button>
      <button class="nav-item active" onclick="setActiveTab('dashboard')">
        <img class="icon" src="svg/window.svg" alt="Icon" style="height: 30px; width: 30px;" />
        Records
      </button>
        <button class="nav-item" onclick="setActiveTab('reports')">
          <img class="icon" src="svg/report-svgrepo-com.svg" alt="Icon" style="height: 30px; width: 30px;"/>
          Reports
        </button>
      </nav>
    </aside>

    <!-- Main Content -->
    <main class="main">
      <!-- Header -->
      <header class="header">
        <div class="search">
          <input
            type="text"
            placeholder="Search..."
            class="search-input"
          hidden/>
        </div>
        <div class="profile"  >
          <span class="icon"><img src="svg/bell-svgrepo-com.svg" alt="Icon" style="height: 25px; width: 25px;"/></span>
          <div class="profile-trigger">
          <img class="profile-pic" id="userphoto" src="" alt="Icon" style="height: 30px; width: 30px;"/>
          <span class="username" id="username"></span>
          </div>
        </div>
      </header>
  

      <!-- Dashboard Content -->

        <table class="transaction-table">
          <thead>
            <tr>
              <th>Category</th>
              <th>Description</th>
              <th>Amount</th>
              <th>Status</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody class="Tbody">
            
          </tbody>
        </table>

    </main>
  </div>

  <script src="/js/Record.js"></script>
</body>
</html>
